@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

* { box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(24, 24, 27);
  line-height: 1.5;
  background-color: #f8f8f8;
  animation: fadeInAnimation ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  display: flow-root;
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 1rem; */
  background-color: inherit;

}

section {
  display: flow-root;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: inherit;
}

ez-map ul {
  display: none;
}

main > p:first-of-type {
  margin-top: 1em;
}

.mcol {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: inherit
}

.showactive .active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 0;
  line-height: 1.2;
  margin: 0.6em 0 0.5em;
}

h1 {
  font-size: 2em;
  margin-top: 0.8em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4, h5, h6 {
  font-size: 1.4em;
}

p {
  padding: 0.2em;
  font-size: 1.2em;
  line-height: 1.5;
  color: #444;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0 0 0.5em;
}

a {
  color: #0645ad;
  text-decoration: none;
}

.right {
  float: right;
  width: 50%;
  margin-left: 0.5em;
}

.left {
  margin-right: 0.5em;
}

ul {
  list-style-position: inside;
}

section#references {
  margin-top: 2em;
}

section#references h1 {
  font-size: 1.5em;
}

section#references P {
  font-size: 1em;
  margin-bottom: 0.7em;
}

a.flyto,
a.play, 
a.qid,
a.zoom {
    cursor: pointer;
    background: unset;
    border-bottom: 1px solid #ccc;
    color: #444;
}

a.flyto:hover,
a.play:hover, 
a.qid:hover,
a.zoom:hover {
    border-bottom: 2px solid #444;
    background: #eee;
}

a.flyto::after,
a.play::after, 
a.qid::after,
a.zoom::after {
    color: #aaa;
    font-size: 50%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -.5em;
    padding-left: 2px;
    padding-right: 4px;
}

a.flyto::after {
    content: "✈";
    font-size: 120%;
    top: 0;
}

a.play::after {
    content: "▶";
}

a.qid:after {
    content: "ⓘ";
}

a.zoom::after {
    content: "🔎";
}

/********** Tabs **********/

.tabs {
  position: relative;
  height: 600px;
}
.sticky.tabs {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.tabs label {
  margin-bottom: 0;
}

input { display: none; }
input + label { display: inline-block }
input ~ .tab { visibility: hidden }
.tab1:checked ~ .tab.content1,
.tab2:checked ~ .tab.content2,
.tab3:checked ~ .tab.content3,
.tab4:checked ~ .tab.content4,
.tab5:checked ~ .tab.content5,
.tab6:checked ~ .tab.content6 {
  visibility: visible;
}
input + label {
  border: 1px solid #999;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 6px 6px 0 0;
  position: relative;
  top: 1px;
  cursor: pointer;
}
input:checked + label {
  background: inherit;
  font-weight: 500;
  border-bottom: 1px solid white;
  z-index: 2;
}

h1 {margin-bottom: 32px;}

.tab { 
  position: absolute;
  visibility: hidden;
  height: calc(100% - 36px);
  overflow-y: scroll;
  border: 1px solid #ccc;
  width: 100%;
  padding: 1rem;
}
.tab p {
  /* height: 100%; */
}
/********** End Tabs **********/

/********** Cards **********/

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-auto-rows: 1fr;
  row-gap: 2em;
  column-gap: 3em;
}

.cards.wrapper {
  margin-top: 0
}

.cards.wrapper>section {
  padding: 0
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr 0px;
  padding: 0;
  font-family: Roboto;
  /*
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: #32325d40 0 6px 12px -2px,#0000004d 0 3px 7px -3px
  */
}

.card p {
  border: none
}

.card > img {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card > a {
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2;
  padding: 1.3rem .5rem .2rem;
  text-decoration: none;
  color: #0164b9;
}

.card > a:hover {
  text-decoration: underline;
}

.card > ul {
  grid-area: 3 / 1 / 4 / 2;
  list-style: none;
  padding: .4rem .5rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  max-height: 260px;
  overflow-y: scroll
}

.card > p {
  grid-area: 4 / 1 / 5 / 2;
  align-self: flex-start;
  min-height: 110px;
  line-height: 1.4;
  font-size: .9em;
  padding: .5rem .5rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin: 0 0 .5rem;
  -webkit-line-clamp: 12
}

.clamp5 {
  -webkit-line-clamp: 5
}

/********** End Cards **********/

