<!doctype html>
<meta charset=utf-8>
{%- seo -%}
<link href="https://rsnyder.github.io/ezsite/ezsite/dist/img/favicon.ico" rel="icon" />
<link href="https://rsnyder.github.io/ezsite/ezsite/dist/css/index.css" rel="stylesheet">
<script>window.config = { 
    baseurl: '{{ site.baseurl }}',
    site: '{{ site }}',
    title: 'EzSite',
    description: 'Web site framework using Markdown, Github Pages, and custom web components.',
}</script>
<script src="https://rsnyder.github.io/ezsite/ezsite/dist/js/index.js" type="module"></script>
<main>{{ content }}</main>