---
site:
    baseurl: /ezsite
    title: ABCD
---
<!doctype html>
<meta charset=utf-8>
{%- seo -%}
<link href="https://rsnyder.github.io/ezsite/ezsite/dist/img/favicon.ico" rel="icon" />
<script>window.config = { 
    baseurl: '{{ site.baseurl }}',
    title: '{{ site.title }}',
    description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
}</script>
<link href="https://rsnyder.github.io/ezsite/ezsite/dist/css/index.css" rel="stylesheet">
<script src="https://rsnyder.github.io/ezsite/ezsite/dist/js/index.js" type="module"></script>
<main>{{ content }}</main>