<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ site.baseurl }}/ezsite/dist/img/favicon.ico" rel="icon" />
    {%- seo -%}
    <script>window.config = { baseurl: '{{ site.baseurl }}' }</script>
    <script src="{{ site.baseurl }}/ezsite/dist/js/index.js" type="module"></script>
  </head>
  <body>
    <main class="page-content" aria-label="Content" style="display:none;">
      {{ content }}
    </main>
  </body>
</html>